/.idea/.name
/.idea/codeStyleSettings.xml
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/libraries/Maven__javax_annotation_javax_annotation_api_1_2.xml
/.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
/.idea/libraries/Maven__javax_ws_rs_javax_ws_rs_api_2_0.xml
/.idea/libraries/Maven__junit_junit_4_9.xml
/.idea/libraries/Maven__org_glassfish_grizzly_grizzly_framework_2_3_16.xml
/.idea/libraries/Maven__org_glassfish_grizzly_grizzly_http_2_3_16.xml
/.idea/libraries/Maven__org_glassfish_grizzly_grizzly_http_server_2_3_16.xml
/.idea/libraries/Maven__org_glassfish_hk2_external_aopalliance_repackaged_2_3_0_b05.xml
/.idea/libraries/Maven__org_glassfish_hk2_external_javax_inject_2_3_0_b05.xml
/.idea/libraries/Maven__org_glassfish_hk2_hk2_api_2_3_0_b05.xml
/.idea/libraries/Maven__org_glassfish_hk2_hk2_locator_2_3_0_b05.xml
/.idea/libraries/Maven__org_glassfish_hk2_hk2_utils_2_3_0_b05.xml
/.idea/libraries/Maven__org_glassfish_hk2_osgi_resource_locator_1_0_1.xml
/.idea/libraries/Maven__org_glassfish_jersey_bundles_repackaged_jersey_guava_2_11.xml
/.idea/libraries/Maven__org_glassfish_jersey_containers_jersey_container_grizzly2_http_2_11.xml
/.idea/libraries/Maven__org_glassfish_jersey_core_jersey_client_2_11.xml
/.idea/libraries/Maven__org_glassfish_jersey_core_jersey_common_2_11.xml
/.idea/libraries/Maven__org_glassfish_jersey_core_jersey_server_2_11.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
/.idea/libraries/Maven__org_javassist_javassist_3_18_1_GA.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/target/
